#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt { flavor = "balanced"; };

/ {
    tdDel: DEL_BSPACE {
        compatible = "zmk,behavior-tap-dance";
        label = "del_bspace";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&kp BSPC>, <&kp DEL>;
    };

    combos {
        compatible = "zmk,combos";

        btLoader {
            bindings = <&bootloader>;
            key-positions = <13 22>;
            timeout-ms = <30>;
            layers = <2>;
        };

        z {
            bindings = <&kp Z>;
            key-positions = <21 22>;
            layers = <0>;
        };

        alt-tab {
            bindings = <&kp LC(LA(TAB))>;
            key-positions = <31 32 33>;
        };

        esc {
            bindings = <&mt LA(F4) ESCAPE>;
            key-positions = <27 28 26>;
        };

        meh-e {
            bindings = <&kp LS(LA(LC(E)))>;
            key-positions = <32 31 28>;
        };

        meh-a {
            bindings = <&kp LA(LS(LC(A)))>;
            key-positions = <27 31 28>;
        };

        meh-h {
            bindings = <&kp LS(LA(LC(H)))>;
            key-positions = <43 44 45>;
        };

        meh-i {
            bindings = <&kp LA(LS(LC(I)))>;
            key-positions = <40 39 38>;
        };
    };

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&none               &none  &none  &none  &none  &none                  &none                     &none      &none  &none  &none  &none
&none               &kp J  &kp G  &kp M  &kp P  &none                  &none                     &kp V      &kp B  &kp W  &kp Q  &none
&mt SQT UNDERSCORE  &kp R  &kp S  &kp N  &kp D  &mt SEMICOLON COMMA    &mt DOUBLE_QUOTES PERIOD  &kp A      &kp E  &kp I  &kp H  &mt EXCLAMATION QUESTION
&none               &kp X  &kp F  &kp L  &kp C  &none                  &none                     &kp U      &kp O  &kp Y  &kp K  &none
                                  &mo 3  &kp T  &mo 1                  &mo 2                     &kp SPACE
                                         &none  &none                  &none
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        NUM {
            bindings = <
&none                              &none          &none            &none          &none        &none                                  &none      &none         &none         &none         &none         &none
&none                              &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS   &kp KP_PLUS  &none                                  &none      &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PERCENT   &none
&mt LEFT_BRACKET LEFT_PARENTHESIS  &mkp MB2       &kp ENTER        &kp BACKSPACE  &mkp MB1     &mt RIGHT_BRACKET RIGHT_PARENTHESIS    &kp EQUAL  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp NUMBER_0  &none
&none                              &kp LWIN       &kp LEFT_ALT     &kp LSHIFT     &kp LCTRL    &none                                  &none      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PERIOD    &none
                                                                   &trans         &trans       &trans                                 &trans     &trans
                                                                                  &none        &none                                  &none
            >;

            //trackball-bindings = <&tmv_fine>;//精准指针

            trackball-bindings = <&tmv_coarse>;
        };

        NAV {
            bindings = <
&none  &none           &none          &none           &none            &none                &none            &none      &none            &none          &none          &none
&none  &kp LC(MINUS)   &kp LC(PG_UP)  &kp LC(TAB)     &kp LC(EQUAL)    &none                &none            &none      &none            &none          &kp LA(LS(D))  &none
&none  &kp LEFT_ARROW  &kp UP_ARROW   &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp C_VOLUME_DOWN    &kp C_VOLUME_UP  &mkp MB1   &kp BACKSPACE    &kp ENTER      &kp DELETE     &none
&none  &kp HOME        &kp PAGE_UP    &kp PAGE_DOWN   &kp END          &none                &none            &kp RCTRL  &kp RIGHT_SHIFT  &kp RIGHT_ALT  &kp RIGHT_GUI  &none
                                      &trans          &kp TAB          &trans               &trans           &trans
                                                      &none            &none                &none
            >;
        };

        FN {
            bindings = <
&none  &none              &none              &none              &none              &none     &none   &none   &none   &none   &none    &none
&none  &kp TILDE          &none              &none              &kp GRAVE          &none     &none   &kp F7  &kp F8  &kp F9  &kp F11  &none
&none  &kp LA(LC(LS(R)))  &kp LS(LA(LC(S)))  &kp LS(LA(LC(N)))  &kp LS(LA(LC(D)))  &none     &none   &kp F4  &kp F5  &kp F6  &kp F10  &none
&none  &kp LWIN           &kp LEFT_ALT       &kp LSHIFT         &kp LCTRL          &none     &none   &kp F1  &kp F2  &kp F3  &kp F12  &none
                                             &trans             &trans             &trans    &trans  &trans
                                                                &none              &none     &none
            >;
        };
    };
};
